{% extends "base_spec.html" %}
{% load staticfiles %}
{% block title %}LED Online Evaluater{% endblock title %}
    {% block style %}

        <link rel='stylesheet' href='{% static "css/base.css" %}'/>
                <link rel='stylesheet' href='{% static "css/ansi.css" %}'/>
                <link rel='stylesheet' href='{% static "css/interpreter.css" %}'/>


    {% endblock style %}

    {% block javascript %}

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
        <script src='{% static "js/interpreter.js" %}'></script>
                <script src='{% static "js/jqconsole.js" %}'></script>

    {% endblock javascript %}

{% block menu-top %}
    <li class="menu-item"><a href="/">Download</a></li>
    <li class="menu-item"><a href="/">LED Specification</a></li>
    <li class="menu-item current"><a href='{% url "interpreter:evaluater" %}'>Online Evaluater</a></li>
            <li class="menu-item "><a href='{% url "interpreter:tutorials" %}'>Tutorials</a></li>

{% endblock menu-top %}
{% block content %}
    <h1 class="page-title">LED Online Evaluater</h1>
               <h2> <a href='{% url "interpreter:tutorials"%}' target="_blank"> Tutorials </a></h2>

    <div id="console"></div>

{% endblock content %}
