{% extends "base.html" %}
{% load staticfiles %}
{% block title %}LED Online Evaluater{% endblock title %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/ansi.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/interpreter.css" %}">
{% endblock style %}
{% block javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js" type="text/javascript"
        charset="utf-8"></script>
<script src='{% static "js/jqconsole.js" %}'></script>
<script src='{% static "js/interpreter.js" %}'></script>
{% endblock javascript %}

{% block content %}
    <div id="console"></div>
{% endblock content %}
