{% extends "base_spec.html" %}
{% load staticfiles %}
{% block title %}The Language of Effective Definitions (LED){% endblock title %}

{% block menu-top %}
    <li class="menu-item"><a href="/">Download</a></li>
    <li class="menu-item current"><a href="/">LED Specification</a></li>
    <li class="menu-item "><a href='{% url "interpreter:evaluater" %}'>Online Evaluater</a></li>
        <li class="menu-item "><a href='{% url "interpreter:tutorials" %}'>Tutorials</a></li>

{% endblock menu-top %}
{% block content %}

    <h1 class="page-title">The Language of Effective Definitions</h1>
    <p>
        The Language of Effective Definitions (LED) is a formal language for writing computable
        functions, designed by <a href="http://www.depts.ttu.edu/cs/faculty/faculty.php?name=J.%20Nelson%20Rushton"
                                  target="_blank">Dr. Nelson Rushton</a> at Texas Tech University and implemented by <a
            href="http://www.qianjizheng.com" target="_blank"> Dr. Qianji
        Zheng.</a>
        LED can be used as a functional programming language, as a tool for teaching mathematics and
        functional programming, or as a medium for precise human-to-human communication of mathematical
        definitions.
        It is used as a teaching tool in Dr. Rushton's CS 1382 Discrete Math class.
        The design goals of LED are rigor, imitation, and simplicity, defined as follows:
    <ul>
        <li>
            Rigor: The syntax and semantics of the language are explicitly and precisely specified.
        </li>
        <li>
            Imitation: LED expressions denote traditional mathematical objects (numbers, symbols, sets,
            tuples, and functions) using notations customary in technical and educational literature, as
            closely as possible while writing plain text.
        </li>
        <li>
            Simplicity: Someone familiar with functional programming, or with the conventions of
            mathematical notation, can learn to read LED programs before breakfast, and learn to write
            them before lunch.
        </li>
    </ul>
    {% include "led_no_type.html" %}
{% endblock content %}


