<div id="sidebar" class="widget-area four columns" role="complementary">
    <aside id="categories" class="widget">
        <ul>
            <li class="cat-item cat-item-1"><a href="{% url 'interpreter:objects_and_values' %}">Objects and Values</a>
                <ul class='children'>
                    <li class="cat-item cat-item-2"><a
                            href="//api.jquery.com/category/ajax/global-ajax-event-handlers/">Global
                        Ajax Event Handlers</a>
                    </li>
                    <li class="cat-item cat-item-3"><a
                            href="//api.jquery.com/category/ajax/helper-functions/">Helper Functions</a>
                    </li>
                    <li class="cat-item cat-item-4"><a
                            href="//api.jquery.com/category/ajax/low-level-interface/">Low-Level
                        Interface</a>
                    </li>
                    <li class="cat-item cat-item-5"><a
                            href="//api.jquery.com/category/ajax/shorthand-methods/">Shorthand
                        Methods</a>
                    </li>
                </ul>
            </li>
            <li class="cat-item cat-item-6"><a
                    href="//api.jquery.com/category/attributes/">Attributes</a>
            </li>
            <li class="cat-item cat-item-7"><a href="//api.jquery.com/category/callbacks-object/">Callbacks
                Object</a>
            </li>
            <li class="cat-item cat-item-8"><a href="//api.jquery.com/category/core/">Core</a>
            </li>
            <li class="cat-item cat-item-9"><a href="//api.jquery.com/category/css/">CSS</a>
            </li>
        </ul>
    </aside>
</div>
