<div id="sidebar" class="widget-area four columns" role="complementary">
    <aside id="categories" class="widget">
        <ul>
            <li class="cat-item cat-item-1"><a href="{% url 'interpreter:objects_and_values' %}">Objects and Values</a>
            </li>
            <li class="cat-item cat-item-6"><a
                    href="/">Primitive Operations</a>
            </li>
            <li class="cat-item cat-item-7"><a href="/">Definitions
                </a>
            </li>
        </ul>
    </aside>
</div>
